.about__content {
  margin-bottom: 3em;
}

.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.about-text {
  padding: 1em 0;
  z-index: 99;
  border-radius: 5px;
}
.about-text p {
  font-weight: var(--fw-light);
  margin: 0.5em 0;
}
.photo-credit {
  font-size: 0.625rem;
  font-weight: var(--fw-light);
  margin-top: -1em;
  float: right;
}
.photo-credit a {
  color: inherit;
  font-weight: var(--fw-bold);
}
h1 + p {
  max-width: 500px;
  margin: 1em 0 0.5em;
}
@media (min-width: 700px) {
  .row {
    flex-direction: row;
    align-items: center;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .about-text {
    flex: 0 0 60%;
    position: relative;
    margin-right: -100px;
    background: var(--clr-bg-dark);
    padding: 2em;
    align-self: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }
  .reverse .about-text {
    margin: 0;
    margin-left: -5em;
  }
  .about-img {
    flex: 1 0 40%;
    max-height: 650px;
    overflow: hidden;
    border-radius: 5px;
  }
}
