.pin {
  display: flex;
  position: relative;
  width: 130px;
}

.pin-text {
  background: var(--clr-bg-light);
  padding: 1em;
  margin: 0.5em;
  border-radius: 10px;
  border-top-left-radius: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.pin-icon {
  position: absolute;
  transform: translate(-50%, -100%);
  font-size: 2rem;
  margin-right: 0.25em;
}
