.menus {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
}
.menu {
  width: 100%;
  max-width: 820px;
  min-height: 70vh;
  padding: 1em 2em;
}
.menu h3 {
  margin: 1em 0;
  font-weight: 400;
  text-align: center;
  padding: 0.5em 0;
}
/* Table */
.menu table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 2em;
  width: 100%;
  table-layout: auto;
  /* white-space: normal !important; */
}
.menu td {
  padding: 0.5em 0;
  border-bottom: 1px dashed #ddd;
}
.menu td:nth-child(2) {
  width: 1em;
}
.menu td:last-of-type {
  text-align: right;
}
.menu em {
  font-weight: 300;
}
/* Navigation */
.navigation {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 150px));
  text-align: center;
  list-style: none;
  margin: 2em 0 2em;
}

.navigation li {
  padding: 0.25em 1em;
  border-right: 1px solid var(--clr-text);
}

.navigation li:last-of-type {
  border-right: none;
}

.navigation a {
  text-decoration: none;
  color: inherit;
}
