.reservations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.reservations__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3em auto;
  padding: 0 2em;
  width: 90%;
  max-width: 450px;
}
.reservations__form h2 {
  text-align: center;
  margin-bottom: 1em;
}

.reservations__form form {
  display: flex;
  flex-direction: column;
}
.reservations__form .styled-field {
  position: relative;
}

.date-picker,
.reservations__form select {
  font-size: 1rem;
  font-weight: var(--fw-light);
  width: 100%;
  margin: 0.5em 0;
  padding: 1em;
  border: none;
  border-radius: 5px;
  font-family: var(--ff-text);
  background: var(--clr-bg-light);
  color: #333;
  cursor: pointer;
  -webkit-appearance: none;
}

.reservations__form input::-webkit-datetime-edit-day-field:focus,
.reservations__form input::-webkit-datetime-edit-month-field:focus,
.reservations__form input::-webkit-datetime-edit-year-field:focus {
  background-color: var(--clr-accent);
  border-radius: 5px;
}

.input-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.reservations__form button {
  margin-top: 1em;
}
