.reservations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.reservations__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3em auto;
  padding: 0 2em;
  width: 90%;
  max-width: 450px;
}
.reservations__form h2 {
  text-align: center;
  margin-bottom: 1.5em;
}
